/* .parent{
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
    

}
    @media (width : 600px) {
        .parent{
            background-color: red;
        }
    }

    @media (min-width :600px) {
        .parent{
            background-color: greenyellow;
        }
    }

    @media (max-width :50px) {
        .parent{
            background-color: gray;
        }
    }
    .parent:hover{
        transform: translate(600px);
        /* transform: rotate(360deg); */
        /* transition: all 2s ease-in 0.5s;
        background-color: aqua;
    }  */

    body{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: gray;

        
    }
    .parent{
        height:200px;
        width: 200px;
        background-color: blue;
        border-radius: 50%;
        margin-top: 100px;
        animation: rotate 2s linear infinite;
}
        
    

    @keyframes rotate {
        0%{
            transform: rotate(360deg);
            background-color: white;
        }
        50%{
            transform: rotate(1800deg);
            background-color: orange;
        }
        100%{
            transform: rotate(0deg);
            background-color: green;
        }
    }
