*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* section{
    margin: 30px;
    padding: 20px;
    background-color: gray;
}

.parent > p{
    color:yellow;
}

.child > p{
    color:green;
} */
 li:first-of-type{
    color:brown;
 }
 li:nth-of-type(5){
    color:green;
 }